#set($page_title=" 客户管理")
#set($selected_menu_id='menu_task_center_index')
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/index.html">首页</a>
            </li>
            <li>
                <a href="#">客户管理</a>
            </li>
            <li class="active">客户管理</li>
        </ul>
        <!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>
    <div class="page-content">

        <style>
            .search-condition {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        </style>
        <div class="seach-bar">
            <div class="row">
                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">客户名称</span>
                        <input id="queryCName" name="queryCName" type="text" placeholder="输入客户名称/客户编码"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">客户地址</span>
                        <input id="queryAddress" name="queryAddress" type="text" placeholder="输入客户地址"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">联系人</span>
                        <input id="queryContact" name="queryContact" type="text" placeholder="输入联系人/联系电话"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">服务工程师</span>
                        <input id="queryServiceEngineer" name="queryServiceEngineer" type="text" placeholder="输入服务工程师姓名"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <button class="btn btn-primary btn-search btn-sm" type="button" id="queryBtn">
                        <i class="icon-search"></i>搜索
                    </button>
                    <button type="button" class="btn btn-success button btn-sm" id="addCustomer" style="height: 32px">
                        <i class="icon-plus"></i>新增
                    </button>
                    <button type="button" class="btn btn-success button btn-sm" id="addBatch" style="height: 32px">
                        <i class="icon-plus"></i>批量导入
                    </button>
                </div>
            </div>
        </div>

        <div class="row col-xs-12 tab-border" >
            <table id="grid-table"></table>
            <div id="grid-pager"></div>
        </div>
    </div>
</div>

#define($javascriptBlock)
<script src="/plug-in/sys/user/listuser.js?_dc=$!{staticVersion}"></script>
<script src="/plug-in/fusheng/customer/list.js?_dc=$!{staticVersion}"></script>
#end

<!--addModal-->
<div class="modal fade cms-modal" id="addModal" role="dialog" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none; padding-left: 0px;">
    <div class="modal-content customer-body">
    </div>
</div>

<!--addModal-->
<div class="modal fade cms-modal" id="addBatchModal" role="dialog" aria-hidden="true" data-backdrop="static"
     style="overflow-y: hidden">
    <div class="modal-content batch-customer-body">
        <form class="form-horizontal" id="customerBatchForm" role="form" enctype="multipart/form-data">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true" style="font-size: 22px">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">批量导入客户信息</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group col-xs-12">
                        <label class="col-xs-4 control-label no-padding-right" for="xlsxFile">* 选择数据文件:</label>

                        <div class="col-xs-8">
                            <p class="upload-file col-xs-8">
                                <span class="file-content">请选择文件</span>
                            <span class="btn btn-white btn-default"><input type="file" id="xlsxFile"
                                                                           name="xlsxFile"><span
                                    id="xlsxFileInfo">选择文件</span></span>
                            </p>
                        </div>
                        <div class="col-xs-12  text-center">
                            <p><span style="color: red" id="xlsxFileTips"></span></p>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 text-center"  style="margin-top: -20px">
                        <p>示例文件:<a href="/file/downtemplate.html?fileName=customertmp.xlsx"
                                   target="_self">批量导入样本文件</a>
                        </p>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" type="button" id="save-batch-btn" name="save-batch-btn">
                    导入
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn btn-white btn-info " type="button" id="addBatch-closeModal">
                    关闭
                </button>
            </div>
        </form>
    </div>
</div>