#set($page_title=" 调试单管理")
#set($selected_menu_id='menu_task_center_index')
<div class="main-content" id="main-container">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/index.html">首页</a>
            </li>
            <li>
                <a href="#">运营服务</a>
            </li>
            <li class="active">调试单管理</li>
        </ul>
        <!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>
    <div class="page-content">

        <style>
            .search-condition {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        </style>
        <div class="seach-bar">
            <div class="row">
                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">客户名称</span>
                        <input id="queryCId" name="queryCId" type="text" placeholder="请选择客户"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">设备名称</span>
                        <input id="eqIdQ" name="eqIdQ" type="text" placeholder="请选择设备名称"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">关键字</span>
                        <input id="keyQ" name="keyQ" type="text" placeholder="输入调试单编号"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">开始时间</span>
                        <input id="startDate" name="startDate" type="text"
                               placeholder="请输入调试日期开始时间"
                               class="form-control form-cnd">
                    </div>
                </div>
                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">结束时间</span>
                        <input id="endDate" name="endDate" type="text"
                               placeholder="请输入调试日期结束时间"
                               class="form-control form-cnd">
                    </div>
                </div>
                <div class="col-xs-4 search-condition">
                    <div class="input-group col-xs-11">
                        <span class="input-group-addon" style="width: 100px">服务工程师</span>
                        <input id="serviceEngineer" name="serviceEngineer" type="text"
                               placeholder="请选择服务工程师"
                               class="form-control form-cnd">
                    </div>
                </div>

                <div class="col-xs-4 search-condition">
                    <button class="btn btn-primary btn-search btn-sm" type="button" id="queryBtn">
                        <i class="icon-search"></i>搜索
                    </button>
                    <button type="button" class="btn btn-success button btn-sm" id="addDebug" style="height: 32px">
                        <i class="icon-plus"></i>录入
                    </button>
                </div>
            </div>
        </div>

        <div class="row col-xs-12 tab-border">
            <table id="debug-grid-table"></table>
            <div id="debug-grid-pager"></div>
        </div>
    </div>
</div>

#define($javascriptBlock)
<script src="/plug-in/sys/user/listuser.js?_dc=$!{staticVersion}"></script>
<script src="/plug-in/fusheng/customer/listcustomer.js?_dc=$!{staticVersion}"></script>
<script src="/plug-in/fusheng/device/listhostnum.js?_dc=$!{staticVersion}"></script>
<script src="/plug-in/fusheng/server/debugeq/list.js?_dc=$!{staticVersion}"></script>
#end

<input id="eIdA" type="hidden" name="eIdA">
<input id="customerIdA" type="hidden" name="customerIdA">

<!--addModal-->
<div class="modal fade cms-modal" id="debugInfoModal" role="dialog" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none; padding-left: 0px;">
    <div class="modal-content debug-info-body">
    </div>
</div>