#set($page_title="设备巡检单")
#set($selected_menu_id='menu_task_center_index')
<div class="main-content" id="mainContenter">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/index.html">首页</a>
            </li>
            <li>
                <a href="#">运营服务</a>
            </li>
            <li>
                <a href="/serve/debugeq/list.html">巡检服务</a>
            </li>
            <li class="active">
                #if($add == "add")
                    录入巡检单
                #else
                    编辑巡检单
                #end
            </li>
        </ul>
        <!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>
    <div class="page-content">

        <style>
            .search-condition {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        </style>
        <div class="page-content-area">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" id="pollingForm" role="form">
                        <input type="hidden" id="id" name="id" value="$!{polling.id}">
                        <input type="hidden" id="fileIds" name="fileIds" value="$!{polling.fileIds}">

                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="cId"><span class="red">*</span>
                                客户名称:</label>

                            <div class="col-xs-8">
                                <input type="text" id="cId" name="cId"
                                       class="col-xs-12 ui-autocomplete-input"
                                       value="$!{customerId}" #if($customerId) disabled #end
                                       placeholder="请选择客户"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="phone"> 客户电话:</label>

                            <div class="col-xs-8">
                                <input type="text" id="phone" name="phone" value="$!{polling.phone}"
                                       class="col-xs-12 ui-autocomplete-input" readonly
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="address"> 客户地址:</label>

                            <div class="col-xs-8">
                                <input type="text" id="address" name="address" value="$!{polling.address}"
                                       class="col-xs-12 ui-autocomplete-input" readonly
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="contact"> 联系人:</label>

                            <div class="col-xs-8">
                                <input type="text" id="contact" name="contact" value="$!{polling.contact}"
                                       class="col-xs-12 ui-autocomplete-input" readonly
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="eId"><a
                                    class="red">*</a> 主机号码:</label>

                            <div class="col-xs-8">
                                <input type="text" id="eId" name="eId"
                                       class="col-xs-12 ui-autocomplete-input"
                                       value="$!{eId}" #if($eId) disabled #end
                                       placeholder="请选择主机号码"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="eModel"> 设备型号:</label>

                            <div class="col-xs-8">
                                <input type="text" id="eModel" name="eModel" value="$!{polling.eModel}"
                                       class="col-xs-12 ui-autocomplete-input" readonly
                                       placeholder=""/>
                            </div>
                        </div>

                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="fax">电机厂牌:</label>

                            <div class="col-xs-8">
                                <input type="text" id="motorBrand" name="motorBrand" value="$!{polling.motorBrand}"
                                       class="col-xs-12 ui-autocomplete-input" readonly
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="payAcct">制造号码:</label>

                            <div class="col-xs-8">
                                <input type="text" id="makeNum" name="makeNum" value="$!{polling.makeNum}"
                                       class=col-xs-12 ui-autocomplete-input" readonly
                                placeholder=""/>
                            </div>
                        </div>

                    ##                        巡检服务内容

                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="envTemperature">
                                环境温度:</label>

                            <div class="col-xs-8">
                                <input type="text" id="envTemperature" name="envTemperature"
                                       value="$!{polling.envTemperature}" class="col-xs-12 ui-autocomplete-input"
                                       placeholder="请输入环境温度" onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="exhaustTemperature">
                                排气温度:</label>

                            <div class="col-xs-8">
                                <input type="text" id="exhaustTemperature" name="exhaustTemperature"
                                       value="$!{polling.exhaustTemperature}"
                                       class="col-xs-12 ui-autocomplete-input" placeholder="请输入排气温度"
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="MPa">
                                冷却水压:</label>

                            <div class="col-xs-8">
                                <input type="text" id="MPa" name="MPa"
                                       value="$!{polling.MPa}"
                                       class="col-xs-12 ui-autocomplete-input" placeholder="请输入冷却水压"
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="exhaustTemperature">
                                运转时数:</label>

                            <div class="col-xs-8">
                                <input type="text" id="hoursToStream" name="hoursToStream"
                                       value="$!{polling.hoursToStream}"
                                       class="col-xs-12 ui-autocomplete-input" placeholder="请输入运转时数"
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="operatingPressure">
                                运转气压:</label>

                            <div class="col-xs-8">
                                <input type="text" id="operatingPressure" name="operatingPressure"
                                       value="$!{polling.operatingPressure}"
                                       class="col-xs-12 ui-autocomplete-input" placeholder="请输入运转气压"
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="exhaustTemperature">
                                运转油压:</label>

                            <div class="col-xs-8">
                                <input type="text" id="operatingOilPressure" name="operatingOilPressure"
                                       value="$!{polling.operatingOilPressure}"
                                       class="col-xs-12 ui-autocomplete-input" placeholder="请输入运转油压"
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>

                        <div class="form-group col-xs-6">
                            <label class="col-xs-3 control-label no-padding-right" for="exhaustTemperature">
                                电压:</label>

                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label no-padding-left">RS &nbsp;</label>
                                <input type="text" id="RSPressure" name="RSPressure"
                                       value="$!{polling.RSPressure}"
                                       class="col-xs-8 ui-autocomplete-input" placeholder=""
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label no-padding-left">RT &nbsp;</label>
                                <input type="text" id="RTPressure" name="RTPressure"
                                       value="$!{polling.RTPressure}"
                                       class="col-xs-8 ui-autocomplete-input" placeholder=""
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label no-padding-left">ST &nbsp;</label>
                                <input type="text" id="STPressure" name="STPressure"
                                       value="$!{polling.STPressure}"
                                       class="col-xs-8 ui-autocomplete-input" placeholder=""
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-3 control-label no-padding-right" for="exhaustTemperature">
                                电流:</label>

                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label no-padding-left">R线 &nbsp;</label>
                                <input type="text" id="RElectric" name="RElectric"
                                       value="$!{polling.RElectric}"
                                       class="col-xs-8 ui-autocomplete-input" placeholder=""
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label no-padding-left">S线 &nbsp;</label>
                                <input type="text" id="SElectric" name="SElectric"
                                       value="$!{polling.SElectric}"
                                       class="col-xs-8 ui-autocomplete-input" placeholder=""
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label no-padding-left">T线 &nbsp;</label>
                                <input type="text" id="TElectric" name="TElectric"
                                       value="$!{polling.TElectric}"
                                       class="col-xs-8 ui-autocomplete-input" placeholder=""
                                       onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                电控盘及电视机大线螺丝是否紧固:</label>

                            <div class="col-xs-6">
                                <input type="radio" id="isFastening1" value="1"
                                       name="isFastening" #if($!{polling.isFastening} == 1) checked#end> 是
                                <input type="radio" id="isFastening0" value="0"
                                       name="isFastening" #if($!{polling.isFastening} == 0) checked#end> 否
                            </div>
                        </div>

                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                接触器接线柱颜色、动作是否正常:</label>

                            <div class="col-xs-6">
                                <input type="radio" id="isTerminalNormal1" name="isTerminalNormal" value="1"
                                    #if($!{polling.isTerminalNormal} == 1) checked#end
                                > 是
                                <input type="radio" id="isTerminalNormal0" name="isTerminalNormal" value="0"
                                    #if($!{polling.isTerminalNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                油气桶在停一段时间后是否经常放水:</label>

                            <div class="col-xs-6"><input type="radio" id="isOilBarrelsNormal1" name="isOilBarrelsNormal"
                                                         value="1"
                                #if($!{polling.isOilBarrelsNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isOilBarrelsNormal0" name="isOilBarrelsNormal" value="0"
                                    #if($!{polling.isOilBarrelsNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                配件来源是否正厂:</label>

                            <div class="col-xs-6"><input type="radio" id="isFactory1" name="isFactory" value="1"
                                #if($!{polling.isFactory} == 1) checked#end
                            > 是
                                <input type="radio" id="isFactory0" name="isFactory" value="0"
                                    #if($!{polling.isFactory} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                热控阀动作是否正常:</label>

                            <div class="col-xs-6"><input type="radio" id="isThermalNormal1" name="isThermalNormal"
                                                         value="1"
                                #if($!{polling.isThermalNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isThermalNormal0" name="isThermalNormal" value="0"
                                    #if($!{polling.isThermalNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>

                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                冷却水温是否正常:</label>

                            <div class="col-xs-6"><input type="radio" id="isTemperatureNormal1"
                                                         name="isTemperatureNormal" value="1"
                                #if($!{polling.isTemperatureNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isTemperatureNormal0" name="isTemperatureNormal" value="0"
                                    #if($!{polling.isTemperatureNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                电机、主机是否正常:</label>

                            <div class="col-xs-6"><input type="radio" id="isMotorNormal1" name="isMotorNormal" value="1"
                                #if($!{polling.isMotorNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isMotorNormal0" name="isMotorNormal" value="0"
                                    #if($!{polling.isMotorNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                散热器是否定期修理:</label>

                            <div class="col-xs-6"><input type="radio" id="isRadiatorNormal1" name="isRadiatorNormal"
                                                         value="1"
                                #if($!{polling.isRadiatorNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isRadiatorNormal0" name="isRadiatorNormal" value="0"
                                    #if($!{polling.isRadiatorNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                各管路是否漏油现象:</label>

                            <div class="col-xs-6"><input type="radio" id="isPipelinesNormal1" name="isPipelinesNormal"
                                                         value="1"
                                #if($!{polling.isPipelinesNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isPipelinesNormal0" name="isPipelinesNormal" value="0"
                                    #if($!{polling.isPipelinesNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                压力维持阀是否开启正常:</label>

                            <div class="col-xs-6"><input type="radio" id="isMaintenanceNormal1"
                                                         name="isMaintenanceNormal" value="1"
                                #if($!{polling.isMaintenanceNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isMaintenanceNormal0" name="isMaintenanceNormal" value="0"
                                    #if($!{polling.isMaintenanceNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>

                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                油品颜色是否正常:</label>

                            <div class="col-xs-6"><input type="radio" id="isOilColorNormal1" name="isOilColorNormal"
                                                         value="1"
                                #if($!{polling.isOilColorNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isOilColorNormal0" name="isOilColorNormal" value="0"
                                    #if($!{polling.isOilColorNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                皮带松紧度是否正常:</label>

                            <div class="col-xs-6"><input type="radio" id="isTightnessNormal1" name="isTightnessNormal"
                                                         value="1"
                                #if($!{polling.isTightnessNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isTightnessNormal0" name="isTightnessNormal" value="0"
                                    #if($!{polling.isTightnessNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                三滤压差开关是否正常:</label>

                            <div class="col-xs-6"><input type="radio" id="isThreeFilterNormal1"
                                                         name="isThreeFilterNormal" value="1"
                                #if($!{polling.isThreeFilterNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isThreeFilterNormal0" name="isThreeFilterNormal" value="0"
                                    #if($!{polling.isThreeFilterNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                电机皮带轮是否与主机:</label>

                            <div class="col-xs-6"><input type="radio" id="isPulleyNormal1" name="isPulleyNormal"
                                                         value="1"
                                #if($!{polling.isPulleyNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isPulleyNormal0" name="isPulleyNormal" value="0"
                                    #if($!{polling.isPulleyNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                机柜各过滤网是否定期清理:</label>

                            <div class="col-xs-6"><input type="radio" id="isCabinetNormal1" name="isCabinetNormal"
                                                         value="1"
                                #if($!{polling.isCabinetNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isCabinetNormal0" name="isCabinetNormal" value="0"
                                    #if($!{polling.isCabinetNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                管路过滤器是否正常排水:</label>

                            <div class="col-xs-6"><input type="radio" id="isPipeFilterNormal1" name="isPipeFilterNormal"
                                                         value="1"
                                #if($!{polling.isThermalNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isPipeFilterNormal0" name="isPipeFilterNormal" value="0"
                                    #if($!{polling.isPipeFilterNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                机器各门是否关闭运行:</label>

                            <div class="col-xs-6"><input type="radio" id="isDoorsNormal1" name="isDoorsNormal" value="1"
                                #if($!{polling.isDoorsNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isDoorsNormal0" name="isDoorsNormal" value="0"
                                    #if($!{polling.isDoorsNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                自动排污阀是否经常排污:</label>

                            <div class="col-xs-6"><input type="radio" id="isAutomaticNormal1" name="isAutomaticNormal"
                                                         value="1"
                                #if($!{polling.isAutomaticNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isAutomaticNormal0" name="isAutomaticNormal" value="0"
                                    #if($!{polling.isAutomaticNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                使用环境是否良好:</label>

                            <div class="col-xs-6"><input type="radio" id="isUseEnvNormal1" name="isUseEnvNormal"
                                                         value="1"
                                #if($!{polling.isUseEnvNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isUseEnvNormal0" name="isUseEnvNormal" value="0"
                                    #if($!{polling.isUseEnvNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                容调点是否合适:</label>

                            <div class="col-xs-6"><input type="radio" id="isVolumeNormal1" name="isVolumeNormal"
                                                         value="1"
                                #if($!{polling.isVolumeNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isVolumeNormal0" name="isVolumeNormal" value="0"
                                    #if($!{polling.isVolumeNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                机器是否定期保养:</label>

                            <div class="col-xs-6"><input type="radio" id="isMRegularlyNormal1" name="isMRegularlyNormal"
                                                         value="1"
                                #if($!{polling.isMRegularlyNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isMRegularlyNormal0" name="isMRegularlyNormal" value="0"
                                    #if($!{polling.isMRegularlyNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-6 control-label no-padding-right" for="gearSpeed">
                                电机是否定期检查、保养、加油:</label>

                            <div class="col-xs-6"><input type="radio" id="isMotorRegularlyNormal1"
                                                         name="isMotorRegularlyNormal" value="1"
                                #if($!{polling.isMotorRegularlyNormal} == 1) checked#end
                            > 是
                                <input type="radio" id="isMotorRegularlyNormal0" name="isMotorRegularlyNormal" value="0"
                                    #if($!{polling.isMotorRegularlyNormal} == 0) checked#end
                                > 否
                            </div>
                        </div>

                        <div class="form-group col-xs-12">
                            <label class="col-xs-2 control-label no-padding-right" for="engineerSuggest">
                                服务人员建议:</label>

                            <div class="col-xs-10">
                    <textarea id="engineerSuggest" name="engineerSuggest"
                              class="col-xs-12 ui-autocomplete-input">$!{polling.engineerSuggest}</textarea>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-2 control-label no-padding-right" for="note">客户意见:</label>

                            <div class="col-xs-10">
                    <textarea id="feedback" name="feedback"
                              class="col-xs-12 ui-autocomplete-input">$!{polling.feedback}</textarea>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-2 control-label no-padding-right" for="attitude">
                                服务态度是否良好:</label>

                            <div class="col-xs-10">
                                <input type="radio" id="attitude1" name="attitude" value="1"
                                    #if($!{polling.attitude} == 1) checked#end
                                > 满意
                                <input type="radio" id="attitude0" name="attitude" value="0"
                                    #if($!{polling.attitude} == 0) checked#end
                                > 不满意
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="serviceEngineer">
                                <span class="red">*</span> 服务工程师:</label>

                            <div class="col-xs-8">
                                <input type="text" id="serviceEngineer" value="$!{polling.serviceEngineer}"
                                       name="serviceEngineer"
                                       class="col-xs-12 ui-autocomplete-input"
                                       placeholder="请选择服务工程师"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-xs-4 control-label no-padding-right" for="serviceDate">
                                <span class="red">*</span> 服务日期:</label>

                            <div class="col-xs-8">
                                <input type="text" class="col-xs-12 ui-autocomplete-input" placeholder="请选择服务日期"
                                       id="serviceDate"
                                       name="serviceDate" value="$!{polling.serviceDate}"/>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 clearfix form-actions align-right">
                            <button class="btn btn-sm btn-primary" type="submit" id="submit-btn" name="submit-btn">
                                保存
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-white btn-info " type="button"
                                    onclick="javaScript:window.history.go(-1)" id="closeAdd">
                                返回
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/plug-in/sys/user/listuser.js?_dc=$!{staticVersion}"></script>
<script src="/plug-in/fusheng/customer/listcustomer.js?_dc=$!{staticVersion}"></script>
<script src="/plug-in/fusheng/device/listhostnum.js?_dc=$!{staticVersion}"></script>
<script src="/page/common/fileupload.js?_dc=$!{staticVersion}"></script>
<script src="/plug-in/fusheng/server/polling/add.js?_dc=$!{staticVersion}"></script>
